body{
    text-align: center;
}
hr {
    height: 5px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
.menu1 {
    list-style: none;
    position: fixed;
    color: red;
    top: 0px;
    margin-top: 0px;
    width: 100%;
    z-index: 10;
    cursor: pointer;
}
.links {
    display: inline;
    float: left;
    font-family: fantasy;
    font-size: 25px;
    padding-left: 9px;
    padding-right: 9px;
}
section{
    padding-top: 30px;
}
.avengers{
    height: 700px;
}
.t{
    height: 200px;
    width: 200px;
}